.footer-containers {
  width: 100%;
  margin-top: 40px;
  .footer-contact {
    background-color: #C9E9E1;
    display: flex;
    padding: 100px 0px;
    justify-content: center;
    gap: 30px;
    .app-logo {
      width: 240px;
      height: 120px;
      img {
        width: 200px;
        height: 120px;
      }
    }
    .footer-contact-right {
      height: 120px;
      width: 450px;
      .contact-title {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 8px;
      }
      .contact-description {
        font-size: 13px;
        margin-bottom: 16px;
      }
      .contact-input {
        padding: 6px 12px;
        border-radius: 0px;
        font-size: 16px;
        line-height: 1.5;
      }
      .btn-submit {
        border-radius: 0;
        background-color: #4007E4;
        color: #fff;
        font-size: 16px;
        height: 100%;
        padding: 6px 12px;
        &:hover{
          color: #4096ff;
          border-color: #4096ff;
          background: #ffffff;
        }
      }
    }
  }

  .footer-content {
    background: #4007E4;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 80px;
    .footer-logo {
      img {
        width: 200px;
        height: 150px;
      }
    }
    .social-link {
      cursor: pointer;
      color: #fff;
      display: flex;
      gap: 10px;
      align-items: center;
    }
    .footer-content-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      .footer-content-txt { 
        color: #fff;
        font-size: 14px;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}